.text{
    font-size: 50px;
    color:black;
}
.listContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.listItem{
    width: 190px;
    margin: var(--spacing-medium);
    border-radius: 3px;
    background-color: var(--color-white);
    cursor: pointer;
   

}
.listItem a{
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
}
.planetImg{
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: top center;
    border-radius: 3px 3px 0 0;
}
h1{
    color: wheat;
}
.planetImg{
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: top center;
   border-radius: 3px 3px 0 0;

}